# 服务配置
DEBUG=False
TESTING=False

# 数据库相关配置
# Railway MySQL数据库URL
MYSQL_DATABASE=jrrg_framework_db
MYSQL_PUBLIC_URL=mysql://root:SecurePass123!@shortline.proxy.rlwy.net:39492/jrrg_framework_db
MYSQL_ROOT_PASSWORD=SecurePass123!
MYSQL_URL=mysql://root:SecurePass123!@mysql.railway.internal:3306/jrrg_framework_db
MYSQLDATABASE=jrrg_framework_db
MYSQLHOST=mysql.railway.internal
MYSQLPASSWORD=SecurePass123!
MYSQLPORT=3306
MYSQLUSER=root

# JWT相关配置
JWT_SECRET_KEY=SecurePass123!
JWT_TOKEN_LOCATION=headers

# 其他配置
PORT=8080 